# Ex - GroupBy

### Introduction:

GroupBy can be summarizes as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [18]:
drinks = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv').dropna()
drinks.set_index('country', inplace = True)
drinks.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Afghanistan,0,0,0,0.0,AS
Albania,89,132,54,4.9,EU
Algeria,25,0,14,0.7,AF
Andorra,245,138,312,12.4,EU
Angola,217,57,45,5.9,AF

### Step 4. Which continent drinks more beer on average?

In [19]:
continents = drinks.continent.unique()
cbeeravg_max = 0
for continent in continents:
    cbeeravg = drinks[drinks['continent']==continent].mean()['beer_servings']
    if cbeeravg > cbeeravg_max:
        cbeeravg_max = cbeeravg
        continent_max = continent
        
print('continent with highest beer consumption:',continent_max)

continent with highest beer consumption: EU

### Step 5. For each continent print the statistics for wine consumption.

In [20]:
for continent in continents:
    print('continent:',continent)
    print(drinks[drinks['continent']==continent]['wine_servings'].describe())
    print('\n')

continent: AS
count     44.000000
mean       9.068182
std       21.667034
min        0.000000
25%        0.000000
50%        1.000000
75%        8.000000
max      123.000000
Name: wine_servings, dtype: float64


continent: EU
count     45.000000
mean     142.222222
std       97.421738
min        0.000000
25%       59.000000
50%      128.000000
75%      195.000000
max      370.000000
Name: wine_servings, dtype: float64


continent: AF
count     53.000000
mean      16.264151
std       38.846419
min        0.000000
25%        1.000000
50%        2.000000
75%       13.000000
max      233.000000
Name: wine_servings, dtype: float64


continent: SA
count     12.000000
mean      62.416667
std       88.620189
min        1.000000
25%        3.000000
50%       12.000000
75%       98.500000
max      221.000000
Name: wine_servings, dtype: float64


continent: OC
count     16.00000
mean      35.62500
std       64.55579
min        0.00000
25%        1.00000
50%        8.50000
75%       23.25000
max      212.00000
Name: wine_servings, dtype: float64

### Step 6. Print the mean alcoohol consumption per continent for every column

In [24]:
for continent in continents:
    print('continent:',continent)
    print(drinks[drinks['continent'] == continent].mean())
    print('\n')

continent: AS
beer_servings                   37.045455
spirit_servings                 60.840909
wine_servings                    9.068182
total_litres_of_pure_alcohol     2.170455
dtype: float64


continent: EU
beer_servings                   193.777778
spirit_servings                 132.555556
wine_servings                   142.222222
total_litres_of_pure_alcohol      8.617778
dtype: float64


continent: AF
beer_servings                   61.471698
spirit_servings                 16.339623
wine_servings                   16.264151
total_litres_of_pure_alcohol     3.007547
dtype: float64


continent: SA
beer_servings                   175.083333
spirit_servings                 114.750000
wine_servings                    62.416667
total_litres_of_pure_alcohol      6.308333
dtype: float64


continent: OC
beer_servings                   89.68750
spirit_servings                 58.43750
wine_servings                   35.62500
total_litres_of_pure_alcohol     3.38125
dtype: float64

### Step 7. Print the median alcoohol consumption per continent for every column

In [25]:
for continent in continents:
    print('continent:',continent)
    print(drinks[drinks['continent'] == continent].median())
    print('\n')

continent: AS
beer_servings                   17.5
spirit_servings                 16.0
wine_servings                    1.0
total_litres_of_pure_alcohol     1.2
dtype: float64


continent: EU
beer_servings                   219.0
spirit_servings                 122.0
wine_servings                   128.0
total_litres_of_pure_alcohol     10.0
dtype: float64


continent: AF
beer_servings                   32.0
spirit_servings                  3.0
wine_servings                    2.0
total_litres_of_pure_alcohol     2.3
dtype: float64


continent: SA
beer_servings                   162.50
spirit_servings                 108.50
wine_servings                    12.00
total_litres_of_pure_alcohol      6.85
dtype: float64


continent: OC
beer_servings                   52.50
spirit_servings                 37.00
wine_servings                    8.50
total_litres_of_pure_alcohol     1.75
dtype: float64

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [47]:
spirit = pd.DataFrame({'drink': ['spirit'],
                       'mean': [drinks['spirit_servings'].mean()],
                       'min': [drinks['spirit_servings'].min()],
                       'max': [drinks['spirit_servings'].max()]})

spirit.set_index('drink', inplace = True)
spirit.head()

             mean  min  max
drink
spirit  69.529412    0  373